---
import HorizontalCard from '@/components/HorizontalCard.astro';
import openGraphScan from '@/scripts/openGraphScan.ts';
import { storyblokEditable } from '@storyblok/astro'
 const { blok }: any  = Astro.props


const socialdata = await openGraphScan(blok.url);
---

<div {...storyblokEditable(blok)} class="container" >
  <HorizontalCard
      title    = { socialdata.title}
      img      = { socialdata.image}
      desc     = { socialdata.description}
      url      = { socialdata.url}
      target   = "_blank"
      imageAlt = { socialdata.title}
      noImageProcessing = {true}
      unintrusive = {true}
  />
</div>