---
import { storyblokEditable } from '@storyblok/astro'
 const { blok } = Astro.props
 const maxSize = `${blok.maxSize}px`
---
 <div {...storyblokEditable(blok)} class="container" >
 <iframe
    src     = {blok.url}
    title   = {blok.title}
    allow   = "accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    class   = "rounded-2xl shadow-[#0f0e0e] border border-base-300 shadow-[0px_0px_15px_0px] video"
    allowfullscreen
  />
 </div>
<style define:vars={maxSize}>
 .container {
    position: relative;
    width: var(--maxSize);
    height: 0;
    padding-bottom: 56.25%;
}
.video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
</style>