---
import { SIDE_BAR_MENU } from '@/config.ts';
import BaseButton from "@/components/UserInteraction/BaseButton.astro";
const { sideBarActiveItemID, menu = SIDE_BAR_MENU } = Astro.props;
const activeClass = 'nav__button_bar_button_active';
const isActive = (id: string) => id === sideBarActiveItemID ? activeClass : '';
interface item {
    icon: string;
    id: string;
    slug: string;
}
---
<nav class="nav__button_bar_persistent" transition:persist transition:name="main-navigation" >
    {menu.map((item: item) => (
        <BaseButton
                type="link"
            href={`/${item.slug}`}
            target={"_self"}
            title={item.id}
            id={item.id}
            ActiveTab={!isActive(item.id)}
            data-astro-prefetch
            icon={item.icon}        
        />
    ))}
</nav>
<style lang="scss">
    .nav__button_bar_persistent {
        display             : flex;
        width               : 100%;
        justify-content     : space-evenly;
    }
    @media (min-width: 480px) {
        .nav__button_bar_persistent {
            justify-content   : flex-start;
            border-radius    : 1rem;
            box-shadow       : var(--shadowstyle__base-in);
        }
    }
    
</style>