---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profiel</div>
  </div>

  <div class="mb-10 text-justify">

  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Ervaring</div>
  </div>

  <div class="time-line-container mb-10">
      <TimeLineElement
        title="Allround"
        subtitle="Van 2021 tot heden bij BRM Lasers B.V., Winterswijk, Nederland"
      >
        ICT en Data beheer en ontwikkeling intern, Ad-hoc bijstaand als monteur, support en ontwikkeling.
      </TimeLineElement>
      <TimeLineElement
        title="Development manager"
        subtitle="Van 2018 tot 2021 bij BRM Lasers B.V., Winterswijk, Nederland"
      >
        Doorontwikkelen en uiteindelijk ontwikkelen van nieuwe lasersnij en graveermachines en upgrades aan bestaande machines. Aansturen van een team van 2 Universeel inzetbare krachten.
      </TimeLineElement>
      <TimeLineElement
        title="Support & Development manager"
        subtitle="Van 2017 tot 2019 bij BRM Lasers B.V., Winterswijk, Nederland"
      >
        Remote support leveren en aansturen servicemonteurs, ontwikkelen van nieuwe upgrades aan bestaande machines. Aansturen van 1 supportkracht.
      </TimeLineElement>
      <TimeLineElement
        title="Servicemonteur"
        subtitle="Van 2015 tot 2018 bij BRM Lasers B.V., Winterswijk, Nederland"
      >
        Na behalen van rijbewijs Servicemonteren van lasersnij en graveermachines in binnen en buitenland.
      </TimeLineElement>
      <TimeLineElement
      title="Afbouwmonteur"
      subtitle="Van 2014 tot 2015 bij BRM Lasers B.V., Winterswijk, Nederland"
    >
      Monteur voor eindassemblage van lasersnij en graveermachines.
    </TimeLineElement>
    <TimeLineElement
    title="CNC Machine operator"
    subtitle="Van 2013 tot 2014 bij Elan dak en gevel, Lichtenvoorde, Nederland"
    >
    CNC Machineoperator voor CNC kantbank, CNC primapower ponsmachine en CNC schaar voor ad-hoc opdrachten.
    </TimeLineElement>
    <TimeLineElement
      title="CNC Machine operator"
      subtitle="In 2013 bij Exerion Precision Technology, Ulft, Nederland"
    >
      Proefweek 3 ploegendienst als CNC Machine operator voor machinehal. Afgehaakt i.v.m. niet in bezit van auto en fietsen was te ver.
    </TimeLineElement>
    <TimeLineElement
      title="CNC Machine opperator"
      subtitle="van 2013 tot 2014 bij Pillen Metaalbewerking, Lichtenvoorde, Nederland"
    >
      CNC Machine operator voor 2 Strippit 1250s vliegwiel ponsmachines in 2 ploegendienst. Ook aangevuld op lasafdeling
    </TimeLineElement>
    <TimeLineElement
    title="CNC Machine opperator"
    subtitle="van 2012 tot 2013 bij Nedap, Groenlo, Nederland"
  >
    CNC Machine operator voor 2 Trumpf ponsmachines in 2 ploegendienst.
  </TimeLineElement>
    <TimeLineElement
      title="CNC Machine opperator"
      subtitle="Van 2008 tot 2012 bij Contour Covering Technology, Winterswijk, Nederland"
    >
      CNC Machine operator voor Trumpf en Cincinatti lasers en ponsmachines in 2 ploegendienst.
    </TimeLineElement>
  </div>


  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Opleidingen</div>
  </div>
  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="Monteur Mechatronica"
      subtitle="5 daagse rij en veiligheids opleiding voor vorkheftrucks bij Blom opleidingen, Ede. Nederland"
    />
  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="Monteur Mechatronica"
      subtitle="2006 tot 2008 bij Bedrijfstakschool Anton Tijdink, Terborg, Nederland"
    />
    <div class="time-line-container grid gap-4 mb-10">
      <TimeLineElement
        title="Assemblage monteur stage, doorgegaan als vakantiekracht"
        subtitle="2008 bij MPS Meat Processing Systems, Lichtenvoorde, Nederland"
    />
    <div class="time-line-container grid gap-4 mb-10">
      <TimeLineElement
        title="Stage Assemblage monteur"
        subtitle="2007 bij Staalkat eiersorteermachines, Aalten, Nederland"
      />
      <div class="time-line-container grid gap-4 mb-10">
        <TimeLineElement
          title="Stage door het hele bedrijf"
          subtitle="Redox Waterzuivering en Milieu, Winterswijk, Nederland"
        />
    <TimeLineElement
      title="Electrotechniek"
      subtitle="2004 tot 2006 bij Christelijk College Schaersvoorde, Aalten, Nederland"
    />
  </div>


  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Cursussen</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a href="#" target="_blank"> Fundamentals op Plastics and Polymers</a>
    </li>
    <li>
      <a href="#" target="_blank"> Windows server 2019 administration</a>
    </li>
    <li>
      <a href="#" target="_blank"> Git & GitHub - the practical guide</a>
    </li>
    <li>
      <a href="#" target="_blank"> Clean code</a>
    </li>
    <li>
      <a href="#" target="_blank"> Windows server 2019 administration</a>
    </li>
    <li>
      <a href="#" target="_blank"> Laser safety officier</a>
    </li>
    <li>
      <a href="#" target="_blank"> Technisch tekening lezen</a>
    </li>
    <li>
      <a href="#" target="_blank"> Media wijsheid</a>
    </li>
    <li>
      <a href="#" target="_blank"> Cursus rug gebruik 'BackPerfect'</a>
    </li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Erkenningen</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a href="#" target="_blank">Vakkanjers Monteur Mechatronica 2de plaats nederlands kampioenschap 2008</a>
    </li>


  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Software Skills</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>Grafana</li>
    <li>Windows server</li>
    <li>Ubuntu server</li>
    <li>VM Ware VSphere</li>
    <li>Azure stack</li>
    <li>(Azure) Active Directory</li>
    <li>Microsoft 365 managment</li>
    <li>Ridder IQ</li>
    <li>Freshdesk</li>
    <li>Microsoft SQL</li>
    <li>Salesforce Admin</li>
    <li>Autodesk Inventor</li>
    <li>Autodesk Fusion</li>
    <li>Figma</li>
    <li>Jira</li>
    <li>Git</li>
    <li>GitHub</li>
    <li>GitLab</li>
    <li>Visual Studio Code</li>
    <li>Twincat</li>
    <li>Twinsafe</li>
    <li>TIA Portal</li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Hardware Skills</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>Computer hardware</li>
    <li>Rijbewijs B,AM</li>
    <li>Servomotors</li>
    <li>Beckhoff platform</li>
    <li>Siemens platform</li>
    <li>Panelenbouw</li>
    <li>Machinaalbouw</li>
    <li>CNC Kanten</li>
    <li>CNC Ponsnibbelen</li>
    <li>CNC Lasermachines</li>
    <li>Optica lasers</li>
    <li>Microsoft SQL</li>
    <li>Salesforce Admin</li>
    <li>Computer hardware</li>
  </ul>
</BaseLayout>
