---
import Layout from "@/layouts/Layout.astro";
import {Image} from "astro:assets";
import {PERSOONLIJKE_INFO} from "@/config";
const today = new Date();
---

<Layout title="Welcome to Astro Neumorphism template">
	<section>
		<Image
			src     ="https://a.storyblok.com/f/253533/3249x4150/2bc61f68c9/wapen-stolte-groot.png/m/0x100"
			alt     ="Familiewapen Stolte, origineel maar gescand en uitgeknipt naar transparant"
			width   ="100"
			height  ="100"
		/>
		<h1>
			Portfolio | Rob Stolte
		</h1>
		<h2>test </h2>
	</section>
	<section>
		<p>test</p>
	</section>
	<section>
		<p>test</p>
	</section>
</Layout>