---
const today = new Date();
---

<footer class="footer footer-center block mb-5 pt-10">
  <div class="pb-2 footer-line">
    <p><i class="fas fa-copyright" title="Copyright"></i>.   {today.getFullYear()} Rob Stolte</p>
  <div>
    <a href="https://astro.build">
      <img src="https://astro.badg.es/v2/built-with-astro/tiny.svg" alt="Built with Astro" width="192" height="32">
    </a>
  </div>
</footer>
<style>
  .footer-line{
    height: 12px !important;
  }
</style>
