---
import { PERSOONLIJKE_INFO } from "@/config.ts";
const today = new Date();

---

<footer class="footer footer-center block mb-5 pt-10">
  <div class="pb-2 footer-line">
    <p><i class="fas fa-copyright" title="Copyright"></i>.   {today.getFullYear()} {PERSOONLIJKE_INFO.Voornaam}  {PERSOONLIJKE_INFO.Achternaam}</p>
</footer>
<style>
  .footer-line{
    height: 12px;
  }
</style>
