---
import {storyblokEditable} from '@storyblok/astro'
import StoryblokComponent  from '@storyblok/astro/StoryblokComponent.astro'
const {blok}: any = Astro.props
---

<section {...storyblokEditable(blok)} class="section">
    <h2 class="section__title">{blok.title}</h2>
    {
        blok.blokken?.map((blok: {}) => {
            return
                <StoryblokComponent blok={blok}/>
        })
    }
</section>
<style>
    .section {
        margin-top : 2rem;
    }

    .section__title {
        margin-bottom : .2rem;
        text-align    : center;
    }
</style>